.container {
    .filter_btn {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
        width: 100%;

        div {
            align-items: center;
            border: 1px solid $grey-50;
            display: flex;
            justify-content: center;
            margin: 0.5rem;
            max-width: 10rem;
            padding: 0.5rem;
            width: 40%;

            @include xs {
                margin: 0.5rem 1rem;
            }

            @include sm {
                margin: 0.5rem 3rem;
            }

            @include md {
                font-size: 1.2rem;
                margin: 0.5rem 3rem;
                padding: 0.5rem;
            }

            @include lg {
                margin: 0.5rem 1rem;
                width: 25%;
            }
        }

        .btn_all {
            margin: 0.5rem 20%;

            @include sm {
                margin: 0.5rem 30%;
            }

            @include md {
                font-size: 1.2rem;
                margin: 0.5rem 3rem;
                padding: 0.5rem;
            }

            @include lg {
                margin: 0.5rem 1rem;
            }
        }
    }
}